#navigation {
  width: 100%;
}

.nav-item {
  position: relative;
  list-style: none;
  font-size: 0.9rem;
  text-transform: capitalize;
  padding: 15px 40px;
  display: flex;
}

a {
  color: #fff;
}

a.active,
i.active {
  color: cornflowerblue;
}

.decoration {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
}

.decoration.active {
  background: cornflowerblue;
}

hr {
  width: 70%;
  margin: 30px auto;
}

.logout-button {
  background: #2a2c38;
  color: #fff;
  border: none;
  font-size: 0.9rem;
  text-decoration: none;
}

.form__logout {
  margin: 0;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.author {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 0 15px 0;
}

.author img {
  height: 150px;
  width: 150px;
}
