/* #navigation {
  width: 100%;
}

.nav-item {
  position: relative;
  list-style: none;
  font-size: 0.9rem;
  text-transform: capitalize;
  padding: 15px 40px;
  display: flex;
}

a {
  color: #fff;
}

a.active,
i.active {
  color: cornflowerblue;
}

.decoration {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
}

.decoration.active {
  background: cornflowerblue;
}

hr {
  width: 70%;
  margin: 30px auto;
}

.logout-button {
  background: #2a2c38;
  color: crimson;
  border: none;
  font-size: 0.9rem;
  text-decoration: none;
  cursor: pointer;
}

.form__logout,
.form-transaction-action {
  margin: 0;
  width: initial;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.author {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 0 15px 0;
}

.author img {
  height: 150px;
  width: 150px;
} */

section.navigation-left {
  width: 18%;
  height: 100%;
  background: #fff;
  box-shadow: var(--shadow);
  margin-right: 5px;
}

section.navigation-left ul,
header div:nth-child(1),
.grid-row {
  border-bottom: 1px solid #efefef;
}

section.navigation-left ul,
.user__profile {
  padding: 30px 0;
}

.navigation-left .nav-item {
  position: relative;
  list-style: none;
  padding: 15px 40px;
  display: flex;
  align-items: center;
}

a {
  color: var(--link-color);
  text-decoration: none;
  text-transform: none;
}

i {
  padding: 0 10px 0 0;
  color: var(--link-color);
}

a.active,
i.active {
  color: var(--active-link-color);
}

.navigation-left .nav-item span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
}

.navigation-left .nav-item span.active {
  background: var(--active-link-color);
}

.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 15px 0;
}

#avatar {
  height: 150px;
  width: 150px;
}

.secondary-nav {
  position: relative;
  margin-left: 20px;
}

section.navigation-top {
  padding: 0;
  display: flex;
}

#secondary-menu {
  position: fixed;
  flex-direction: column;
  text-align: right;
  transition: 0.3s;
  z-index: 1;
  background: #fff;
  right: 50px;
  display: none;
  margin: 15px 0 0 0;
}

#secondary-menu.active {
  display: block;
}

#secondary-menu .nav-item {
  padding: 10px 25px 10px 45px;
  border: 1px solid #000;
  background: var(--pastel-blue);
}

#secondary-menu .nav-item:first-of-type {
  border-bottom: none;
}

#secondary-menu .nav-item:hover {
  background: #fff;
}

header .navigation-top .secondary-nav .hamburger {
  flex-direction: column;
  cursor: pointer;
  padding: 0;
  border-bottom: none;
}

.bar {
  display: block;
  width: 25px;
  height: 2px;
  margin: 3px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #000;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

#secondary-menu a {
  color: #000;
}
