<%- include('../components/head.ejs') %>
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="stylesheet" href="/css/navigation.css" />
    <link rel="stylesheet" href="/css/content.css" />

  <body class="center">
    <%- include('../components/navigation.ejs') %>
    <section class="main">
      <%- include('../components/header.ejs') %>
    </section>
  </body>

  <%- include('../components/footer.ejs') %>
</html>
