<%- include('../components/head.ejs') %>
<link rel="stylesheet" href="/css/login.css" />

<body>
  <div class="container">
    <div class="wrapper">
      <% if(errorMessage) { %>
      <div class="error-msg"><%= errorMessage %></div>
      <% } %>
      <div class="title"><span>Reset password</span></div>
      <form action="/reset-password" method="POST">
        <div class="row">
          <i class="fas fa-user"></i>
          <input type="email" name="email" id="email" placeholder="Email" />
        </div>
        <div class="row button">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <button type="submit">Reset</button>
        </div>
      </form>
    </div>
  </div>

  <%- include('../components/footer.ejs') %>
</body>
